<div class="container">
    <h1 class="pb-3">A bunch  of users</h1>
    <div>
        <% users.each do |name| %>
        <p class="center"><%= name.user_name %></p>
        <% end %>
    </div>

</div>