<div class="container">
    <h1 class="pb-3">Ajouter un article</h1>
     <%= form_for( post , remote: true) do |f| %>
       <%=%>
       <% end %>
        <p>
          <a href="<%= posts_path%>" class="btn btn-primary">Revenir aux articles</a>
        </p>
</div>
