<div class="container">
    <h1 class="pb-3"><%= post.title %></h1>
        <p><%= post.content %></p>
        <p>
          <a href="<%= posts_path%>" class="btn btn-primary">Revenir aux articles</a>
        </p>
</div>
